@page
@model Webshop.Pages.AdminModel
@{
}


<form method="post">
    <div>
        <div>
            <input type="radio" id="sandal" name="category" value="sandal">
            <label for="sandal">Sandal</label>
        </div>

        <div>
            <input type="radio" id="Stövlar" name="category" value="Stövlar">
            <label for="Stövlar">Stövlar</label>
        </div>

        <div>
            <input type="radio" id="Sneakers" name="category" value="Sneakers">
            <label for="Sneakers">Sneakers</label>
        </div>

       
        <p>skiv in producktens Id</p> <input type="text" asp-for="@Model.id" />
        <p>skiv in Titels Namn </p> <input type="text" asp-for="@Model.title" />
        <p>skiv in producktens img länk</p> <input type="text" asp-for="@Model.imgFileName" />
        <p>skiv in producktens pris</p> <input type="text" asp-for="@Model.price" />
        <p>skriv in antal som skall finnas i lager <input type="text" asp-for="@Model.stock" />

</div>
    <input type="submit" />
</form>
