@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    double pricesum = 0;
}

<div class="text-center">




    @foreach (var cartProduckt in Model.CartList)
    {

        pricesum += cartProduckt.Price;


    }

    <h1>Summan av alla produckter @pricesum</h1>


    @foreach (var products in Model.ProductsList)
    {
        if (products is Models.Sandaler)
        {
            <p>
                <div class="card col-3" style="width: 40rem;">
                    <p>@products.Title</p>

                    <p>@products.Price kr</p>
                    <img src="./img/@products.ImgFileName" />
                    @(((Models.Sandaler)products).Färg)
                    <a asp-page="Index" asp-route-producktId="@products.Id">Lägg till i Shopcarten</a>

                </div>
            </p>

        }
        if (products is Models.Sneakers)
        {
            <p>
                <div class="card col-3" style="width: 40rem;">
                    <p>@products.Title</p>

                    <p>@products.Price kr</p>
                    <img src="./img/@products.ImgFileName" />
                    @(((Models.Sneakers)products).Storlek)
                    <a asp-page="Index" asp-route-producktId="@products.Id">Lägg till i Shopcarten</a>
                </div>
            </p>
        }

    }





</div>  

