@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    
    

    @foreach (var products in Model.ProductsList)
    {

      


        if (products is Models.Sandaler)
        {
            <p>
                <div class="card col-3" style="width: 40rem;">
                    <p>@products.Title</p>

                    <p>@products.Price kr</p>
                    <img src="./img/@products.ImgFileName" />
                    @(((Models.Sandaler)products).Färg)
                </div>
            </p>




        }
        if (products is Models.Sneakers)
        {
            <p>

                <div class="card col-3" style="width: 40rem;">
                    <p>@products.Title</p>

                    <p>@products.Price kr</p>
                    <img src="./img/@products.ImgFileName" />
                    @(((Models.Sneakers)products).Storlek)
                </div>


            </p>
        }

    }



</div>
