@page
@model Webshop.Pages.SandalModel
@{ double pricesum = 0;

}

<div class="text-center">
    <h1 class="display-4">Sandaler</h1>


    @foreach (var cartProduckt in Model.CartList)
    {

        pricesum += cartProduckt.Price;

    }

    @foreach (var products in Model.ProductsList)
    {
        if (products is Models.Sandaler)
        {
            <div class="modal" id="leggo">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <div class="modal-content">
                    <div class="modal-body">
                        <p> @products.Info</p>

                    </div>
                </div>
            </div>


            <p>
                <div class="card col-3" style="width: 40rem;">
                    <p>@products.Title</p>
                    <p>@products.Price kr</p>
                    <img src="./img/@products.ImgFileName" class="card-img-top" alt="card image cap">
                    Denna Produkts färg är
                    @(((Models.Sandaler)products).Färg)
                    <p>@products.Info</p>
                    <a asp-page="Sandal" asp-route-producktId="@products.Id">Lägg till i Shopcarten</a>
                    <p> Det fanns bara @products.Stock kvar</p>
                    <p> Denna produkts id är @products.Id</p>
                    <button type="button" class="btn btn-primary launch" data-toggle="modal" data-target="#leggo">
                        <i class="fa fa-rocket"></i> Klicka här för mer information

                    </button>



                </div>


            </p>


        }

    }
</div>





