@page
@model Webshop.Pages.SneakersModel
@{
    double pricesum = 0;
}



<div class="text-center">
    <h1 class="display-4">Sneakers</h1>




    @foreach (var cartProduckt in Model.CartList)
    {

        pricesum += cartProduckt.Price;


    }

    @foreach (var products in Model.ProductsList)
    {



        if (products is Models.Sneakers)
        {
            <p>
                <div class="card col-3" style="width: 40rem;">
                    <p>@products.Title</p>



                    <p>@products.Price kr</p>
                    <img src="./img/@products.ImgFileName" class="card-img-top" alt="card image cap">
                    storlek  @(((Models.Sneakers)products).Storlek) <br />
                    @products.Info <br />
                    Det finns  @products.Stock kvar i lager
                    <a asp-page="Sneakers" asp-route-producktId="@products.Id">Lägg till i Shopcarten</a>


                </div>





            </p>

        }


    }



</div>