@page
@model Webshop.Pages.StövlarModel
@{
    Double pricesum = 0;
}


<div class="text-center">
    <h1 class="display-4">Sneakers</h1>


    @foreach (var cartProduckt in Model.CartList)
    {

        pricesum += cartProduckt.Price;


    } 




    @foreach (var products in Model.ProductsList)
    {
        


        if (products is Models.Stövlar)
        {
            <p>
                <div class="card col-3" style="width: 40rem;">
                    <p>@products.Title</p>



                    <p>@products.Price kr</p>
                    <img src="./img/@products.ImgFileName" class="card-img-top" alt="card image cap">
                    <p> @(((Models.Stövlar)products).gummi)</p>

                    <a asp-page="Stövlar" asp-route-producktId="@products.Id">Lägg till i Shopcarten</a>
                    <p>Det fanns @products.Stock av dessa produckter kvar i lager</p>


                    <a asp-page="Stövlar" asp-route-stockId="@products.Id">Ta bort från lagret</a>


                </div>




            </p>

        }


    }



</div>